input:focus{
    box-shadow: 0 0 0 0 !important;
    border: none !important;
}

::-webkit-scrollbar{
    width: 2px;
    background-color: lightgray;
}
::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: gray;
    height: 5px;
}